.toast{
	position: relative;
}

.icon-error{
	color: #F13A31 !important;
}

#imgContinerBs {
	border: none;
}

#secureImgbs {
	border-radius: 7%;
}

#flujoOrigenLbl{
  font-size: 2rem;
  opacity: 0.85;
}

#pay-info{
  font-size: 1.6rem;
  color: #F13A31;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#error-icon{
  margin-right: 1.5rem;
  font-size: 3.5rem;
}

#icon-ok{
  margin-right: 1.5rem;
  font-size: 3.5rem;
  color: #60cc4d;
}

#modalAlertMsg{
	text-align: center;
}

#modalAlertMsgIN{
	text-align: center;
}

#modalSafeExitMsg{
	text-align: center;
}

.info-montos {
  display: flex;
  align-self: flex-start;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #333333;
}

.container-lastAccess{
  margin-left: 0.65rem;
  margin-bottom: 0.65rem;
}

.lastAccess{
  font-size: 1.4rem;
  color: #a0a0a0;
}

.container__comercio {
  background: #f6f8fa;
  position: relative;
  width: 100%;
  padding: 0 8rem 3rem;
}
@media only screen and (max-width: 56.25em) {
  .container__comercio {
    padding: 0;
    width: 100%;
    max-width: 40rem;
    margin: auto;
  }
}
.container__comercio--header {
  display: flex;
  width: 100%;
  font-size: 2rem;
  margin-top: 2.5rem;
  justify-content: center;
}
.container__comercio--header img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .container__comercio--header {
    margin: 1.7rem auto 0;
    justify-content: center;
  }
} 

.container__comercio--title {
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #0040a8;
  text-align: center;
  margin: 2rem 0 3rem;
}
@media only screen and (max-width: 56.25em) {
  .container__comercio--title {
    text-align: center;
    font-size: 2rem;
  }
}
.container__comercio--login-box {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
  padding: 2.5rem 2rem;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.6rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .container__comercio--login-box {
    margin-bottom: 3rem;
  }
}
.container__comercio--login-box-title {
  display: flex;
  align-self: flex-start;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: #333333;
  font-weight: 550;
}
.container__comercio--login-box-id {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
  padding: 2.5rem 2rem;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.6rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .container__comercio--login-box-id {
    margin: 0 auto 2rem;
  }
}
.container__comercio--login-box-id-title {
  display: flex;
  align-self: flex-start;
  font-family: "Monserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333333;
  font-weight: 550;
}
.container__comercio--login-box-validacion {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: center;
  padding: 4rem 3rem;
  border-radius: 0.8rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 0.6rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
}
@media only screen and (max-width: 75em) {
  .container__comercio--login-box-validacion {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .container__comercio--login-box-validacion {
    align-self: center;
    margin-top: 2rem;
    margin: 0 auto 1rem;
  }
}
.container__comercio--login-box-validacion-title {
  display: flex;
  align-self: flex-start;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #333333;
  font-weight: 550;
}